@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-[#000] dark:text-white;
  }
  * {
    @apply border-black/10 dark:border-[#1f1f1f];
  }
}

.gradient-text {
  background: linear-gradient(to bottom, rgb(100, 100, 100), black);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

:root.dark .gradient-text {
  background: linear-gradient(to bottom, rgb(75, 75, 75), white);
  -webkit-background-clip: text;
  background-clip: text;
}